  <div class = "well well-sm">
  <textarea  class="myEditor">
  </textarea>
  </div>
  <button {{action 'submit'}}class="btn btn-lg btn-primary" type="submit" data-dismiss="modal" >submit</button>
  {{#if session.review}}
    <button {{action 'clear'}}class="btn btn-lg btn-primary" type="submit" data-dismiss="modal" >Clear</button>
  {{/if}}
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Continue</button> -->

 
