<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>
     Your Submissons
     <!-- <button type="button" class="btn btn-info pull-right">
      <span class="glyphicon glyphicon-search"></span> Search
    </button> -->
    </h3>
   </div>
<table class="table table-hover ">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>07/07/1972</td>
        <td>CodeMirror</td>
        <td>in review</td>
        <td> <a  href="#"{{action 'edit'}}>Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
