{{yield}}
<nav class="navbar navbar-inverse">
<div class="container-fluid">
      <div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <a class="navbar-brand" href="#">Code Review</a>

        <ul class="nav navbar-nav pull-right">
          {{#if session.isAuthenticated}}
         <li>{{#link-to 'submit'}} Submit {{/link-to}} </li>
         <li>{{#link-to 'review'}} Review {{/link-to}} </li>
        <li><a  href="#" {{action 'logout'}}> Logout</a></li>

          <!-- <h4> welcome,  {{user.user.name}}</h4> -->
         {{else}}
         <li>{{#link-to 'login'}} Login {{/link-to}} </li>
          <li>{{#link-to 'register'}} Register {{/link-to}} </li>
         {{/if}}


        </ul>
      </div>
    </div>
</nav>
