<div class ="well well-sm">
  <label class="control-label">Code Title</label>
  {{input type="text" class="form-control" value=codetitle placeholder= "Code Title"}}
</div>
{{codemirror-editor title=codetitle}}
